---
import { SiteMetadata } from '../config'
---

<div class="container mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
  <div class="grid sm:grid-cols-3 gap-4">
      <!-- Primeira linha de imagens -->
      <div class="col-span-1">
          <a href="src/assets/cards/card01.png">
              <div style="max-width: 300px; margin: auto; padding: 10px;"><img src="src/assets/cards/card01.png" alt="Construction Step 1" style="width: 100%; height: auto;"></div>
          </a>
      </div>
      <div class="col-span-1">
          <a href="src/assets/cards/card02.png">
              <div style="max-width: 300px; margin: auto; padding: 10px;"><img src="src/assets/cards/card02.png" alt="Construction Step 2" style="width: 100%; height: auto;"></div>
          </a>
      </div>
      <div class="col-span-1">
          <a href="src/assets/cards/card03.png">
              <div style="max-width: 300px; margin: auto; padding: 10px;"><img src="src/assets/cards/card03.png" alt="Construction Step 3" style="width: 100%; height: auto;"></div>
          </a>
      </div>
      <!-- Segunda linha de imagens -->
      <div class="col-span-1">
          <a href="src/assets/cards/card04.png">
              <div style="max-width: 300px; margin: auto; padding: 10px;"><img src="src/assets/cards/card04.png" alt="Construction Step 4" style="width: 100%; height: auto;"></div>
          </a>
      </div>
      <div class="col-span-1">
          <a href="src/assets/cards/card05.png">
              <div style="max-width: 300px; margin: auto; padding: 10px;"><img src="src/assets/cards/card05.png" alt="Construction Step 5" style="width: 100%; height: auto;"></div>
          </a>
      </div>
      <div class="col-span-1">
          <a href="src/assets/cards/card06.png">
              <div style="max-width: 300px; margin: auto; padding: 10px;"><img src="src/assets/cards/card06.png" alt="Construction Step 6" style="width: 100%; height: auto;"></div>
          </a>
      </div>
  </div>
</div>

  </div>
</div>
