---
import { SiteMetadata } from '../config'
---

<div class="container mx-auto max-w-5xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">

  <!-- Título principal -->
  <div class="bg-gray-50 dark:bg-black rounded-lg shadow-lg p-8 mb-12">
    <h2 class="text-3xl font-extrabold tracking-tight text-green-900 dark:text-gray-100 sm:text-4xl mb-8">
      <span class="block dark:text-white">CONFIRA EM DETALHES</span>
      <span class="block text-green-600 dark:text-green-300">A PROTEÇÃO DE PISO.</span>
    </h2>
  </div>

  <!-- Grade de imagens -->
  <div class="grid grid-cols-2 sm:grid-cols-3 gap-6 mb-12">
    <!-- Imagens -->
    <div class="col-span-1">
      <a href="src/assets/cards/card01.png">
        <div class="rounded-lg overflow-hidden shadow-lg">
          <img src="src/assets/cards/card01.png" alt="Construction Step 1" class="w-full h-auto">
        </div>
      </a>
    </div>
    <div class="col-span-1">
      <a href="src/assets/cards/card02.png">
        <div class="rounded-lg overflow-hidden shadow-lg">
          <img src="src/assets/cards/card02.png" alt="Construction Step 2" class="w-full h-auto">
        </div>
      </a>
    </div>
    <div class="col-span-1">
      <a href="src/assets/cards/card03.png">
        <div class="rounded-lg overflow-hidden shadow-lg">
          <img src="src/assets/cards/card03.png" alt="Construction Step 3" class="w-full h-auto">
        </div>
      </a>
    </div>
    <div class="col-span-1">
      <a href="src/assets/cards/card04.png">
        <div class="rounded-lg overflow-hidden shadow-lg">
          <img src="src/assets/cards/card04.png" alt="Construction Step 4" class="w-full h-auto">
        </div>
      </a>
    </div>
    <div class="col-span-1">
      <a href="src/assets/cards/card05.png">
        <div class="rounded-lg overflow-hidden shadow-lg">
          <img src="src/assets/cards/card05.png" alt="Construction Step 5" class="w-full h-auto">
        </div>
      </a>
    </div>
    <div class="col-span-1">
      <a href="src/assets/cards/card06.png">
        <div class="rounded-lg overflow-hidden shadow-lg">
          <img src="src/assets/cards/card06.png" alt="Construction Step 6" class="w-full h-auto">
        </div>
      </a>
    </div>
  </div>

  <!-- Título do vídeo -->
  <div class="bg-gray-50 dark:bg-black rounded-lg shadow-lg p-8">
    <h2 class="text-3xl font-extrabold tracking-tight text-green-900 dark:text-gray-100 sm:text-4xl mb-8">
      <span class="block dark:text-white">Vídeo Institucional</span>
    </h2>
  </div>

  <!-- Vídeo -->
  <div class="max-w-800px mx-auto mb-8">
    <div class="p-4">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/6VydtOBK_qQ?si=XridC9raaXiKK2FC" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

</div>


