---
import { Icon } from 'astro-icon'
import elo from '../assets/capa-protege/elo.png'

const features = [
  {
    name: 'Eficácia comprovada',
    description: `Alta resistência a impacto excepcional resistência a abrasão, fluxo de pessoas, andaimes, carriolas e trânsito de empilhadeiras.
    \n\nExcelente performance em vedação para líquidos e sólidos, como tintas, cimento, argamassa e massa de revestimento.`,
    icon: 'sparkles'
  },
  {
    name: 'Instalação Inteligente',
    description:
      'Sistema modular de montagem, impossibilitando o encaixe incorreto das peças;\n\nNão utiliza adesivo, a fixação ocorre pelo peso da peça e pela geometria intertravada.',
    icon: 'puzzle'
  },
  {
    name: 'Solução completa',
    description:
      ' O Transporte, mão de obra, instalação, manutenção e retirada das placas é totalmente executado pela Protege Piso sem custos extras.\n\n A proteção de seu piso é nossa responsabilidade.',
    icon: 'presentation-chart-bar'
  },
  {
    name: 'Tecnologia que Protege',
    description:
      'Na vanguarda da tecnologia e da inovação, a Protege Piso é impulsionada por um compromisso inabalável com a excelência e a evolução contínua. \n Desde a sua fundação, dedicamo-nos a liderar o caminho, não apenas seguindo tendências, mas criando-as.',
    icon: 'clock'
  }
]
---

<div class='bg-gray-100 py-12 dark:bg-gray-800'>
  <div class='mx-auto max-w-7xl px-4 sm:px-6 lg:px-8'>
    <div class='lg:text-center'>
      <p class='mt-2 text-3xl font-extrabold leading-8 tracking-tight text-green-900 dark:text-gray-100 sm:text-4xl'>
        INOVADOR E INTELIGENTE
      </p>
      <p class='text-gray-600 mt-4 max-w-xl text-base font-semibold dark:text-gray-300 lg:mx-auto'>
        Desenvolvidos com base em tecnologia avançada e um profundo conhecimento das necessidades dos clientes na área da construção civil e reformas.
      </p>
    </div>
  </div>
  <div class='mt-10'>
    <dl class='space-y-20 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10 md:space-y-0'>
      {
        features.map((feature) => (
          <div class='relative'>
            <dt>
              <div class='absolute flex h-12 w-12 items-center justify-center rounded-md bg-green-500 text-white dark:bg-green-400 dark:text-black'>
                <Icon
                  class='h-6 w-6'
                  aria-hidden='true'
                  pack='heroicons-outline'
                  name={feature.icon}
                />
              </div>
              <p class='ml-16 text-lg font-medium leading-4 text-gray-900 dark:text-gray-200'>
                {feature.name}
              </p>
            </dt>
            <dd class='ml-16 mt-2 text-justify text-base text-gray-600 dark:text-gray-400'>
              {feature.description}
            </dd>
          </div>
        ))
      }
    </dl>
  </div>
</div>

<!-- Título do vídeo -->
<div class='rounded-lg bg-gray-50 p-5 shadow-lg dark:bg-black'>
  <h2
    class='mb-8 text-center text-4xl font-extrabold tracking-tight text-green-900 sm:text-4xl dark:text-gray-300'
  >
    <span class='block dark:text-white'>VÍDEO INSTITUCIONAL</span>
  </h2>
</div>

<div class='texte-center mx-auto mb-8 max-w-screen-md'>
  <div class='flex justify-flex'>
    <img src='' alt='' />
  </div>
</div>
<!-- Vídeo -->
<div class='relative mx-auto mb-8 max-w-screen-md text-center'>
  <div class='flex justify-center'>
    <div class='relative p-4'>
      <img src={elo.src} alt='Descrição da imagem' width='100%' class='rounded-lg' />
      <a
        href='https://www.youtube.com/embed/6VydtOBK_qQ?si=bWiPzBWeGPkllBZC&start=5'
        target='_blank'
        rel='noopener noreferrer'
        class='absolute inset-0 flex items-center justify-center'
      >
        <svg
          xmlns='http://www.w3.org/2000/svg'
          class='h-20 w-20 text-red-600 opacity-70 transition-opacity duration-300 hover:opacity-100'
          fill='none'
          viewBox='0 0 24 24'
          stroke='currentColor'
        >
          <path stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M8 5v14l11-7z'
          ></path>
        </svg>
      </a>
    </div>
  </div>
</div>
