---
import { Icon } from 'astro-icon'

const features = [
  {
    name: 'Eficácia comprovada',
    description: `Alta resistência a impacto excepcional resistência a abrasão, fluxo de pessoas, andaimes, carriolas e trânsito de empilhadeiras.
    \n\nExcelente performance em vedação para líquidos e sólidos, como tintas, cimento, argamassa e massa de revestimento.`,
    icon: 'sparkles'
  },
  {
    name: 'Instalação Inteligente',
    description:
      'Sistema modular de montagem, impossibilitando o encaixe incorreto das peças;\n\nNão utiliza adesivo, a fixação ocorre pelo peso da peça e pela geometria intertravada.',
    icon: 'puzzle'
  },
  {
    name: 'Solução completa',
    description:
      ' O Transporte, mão de obra, instalação, manutenção e retirada das placas é totalmente executado pela Protege Piso sem custos extras.\n\n A proteção de seu piso é nossa responsabilidade.',
    icon: 'presentation-chart-bar'
  },
  {
    name: 'Tecnologia que Protege',
    description:
      'Na vanguarda da tecnologia e da inovação, a Protege Piso é impulsionada por um compromisso inabalável com a excelência e a evolução contínua. \n Desde a sua fundação, dedicamo-nos a liderar o caminho, não apenas seguindo tendências, mas criando-as.',
    icon: 'clock'
  }
]
---

<div class='bg-gray-100 py-12 dark:bg-gray-800'>
  <div class='mx-auto max-w-7xl px-4 sm:px-6 lg:px-8'>
    <div class='lg:text-center'>
      <p
        class='mt-2 text-3xl font-extrabold leading-8 tracking-tight text-green-900 sm:text-4xl dark:text-gray-100'
      >
        INOVADOR E INTELIGENTE
      </p>
      <p class='text-black-600 mt-4 max-w-xl text-sm font-extrabold lg:mx-auto dark:text-gray-300'>
        Desenvolvidos com base em tecnologia avançada e um profundo conhecimento das necessidades
        dos clientes na área da construção civil e reformas.
      </p>
    </div>
  
  <div class='mt-10'>
    <dl class='space-y-10 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10 md:space-y-0'>
      {
        features.map((feature) => (
          <div class='relative'>
            <dt>
              <div class='absolute flex h-12 w-12 items-center justify-center rounded-md bg-green-500 text-white dark:bg-green-400 dark:text-black'>
                <Icon
                  class='h-6 w-6'
                  aria-hidden='true'
                  pack='heroicons-outline'
                  name={feature.icon}
                />
              </div>
              <p class='ml-16 text-lg font-medium leading-6 text-gray-900 dark:text-gray-200'>
                {feature.name}
              </p>
            </dt>
            <dd class='ml-16 mt-2 text-justify text-base text-gray-600 dark:text-gray-400'>
              {feature.description}
            </dd>
          </div>
        ))
      }
    </dl>
  </div>
</div>

<!-- Título do vídeo -->
<div class='rounded-lg bg-gray-50 p-5 shadow-lg dark:bg-black'>
  <h2
    class='mb-8 text-center text-4xl font-extrabold tracking-tight text-green-900 sm:text-4xl dark:text-gray-300'
  >
    <span class='block dark:text-white'>VÍDEO INSTITUCIONAL</span>
  </h2>
</div>

<!-- Vídeo -->
<div class='mx-auto mb-8 max-w-screen-md text-center'>
  <div class='flex justify-center'>
    <div class='p-4'>
      <iframe
      width='850'
      height='515'
        src='https://www.youtube.com/embed/6VydtOBK_qQ?si=bWiPzBWeGPkllBZC&start=5'
        title='YouTube video player'
        allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
        allowfullscreen></iframe>
    </div>
  </div>
</div>
