<main>
    <!-- <svg
        class="astro-a"
        width="495"
        height="623"
        viewBox="0 0 495 623"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
    
        <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M167.19 364.254C83.4786 364.254 0 404.819 0 404.819C0 404.819 141.781 19.4876 142.087 18.7291C146.434 7.33701 153.027 0 162.289 0H332.441C341.703 0 348.574 7.33701 352.643 18.7291C352.92 19.5022 494.716 404.819 494.716 404.819C494.716 404.819 426.67 364.254 327.525 364.254L264.41 169.408C262.047 159.985 255.147 153.581 247.358 153.581C239.569 153.581 232.669 159.985 230.306 169.408L167.19 364.254ZM160.869 530.172C160.877 530.18 160.885 530.187 160.894 530.195L160.867 530.181C160.868 530.178 160.868 530.175 160.869 530.172ZM136.218 411.348C124.476 450.467 132.698 504.458 160.869 530.172C160.997 529.696 161.125 529.242 161.248 528.804C161.502 527.907 161.737 527.073 161.917 526.233C165.446 509.895 178.754 499.52 195.577 500.01C211.969 500.487 220.67 508.765 223.202 527.254C224.141 534.12 224.23 541.131 224.319 548.105C224.328 548.834 224.337 549.563 224.347 550.291C224.563 566.098 228.657 580.707 237.264 593.914C245.413 606.426 256.108 615.943 270.749 622.478C270.593 621.952 270.463 621.508 270.35 621.126C270.045 620.086 269.872 619.499 269.685 618.911C258.909 585.935 266.668 563.266 295.344 543.933C298.254 541.971 301.187 540.041 304.12 538.112C310.591 533.854 317.059 529.599 323.279 525.007C345.88 508.329 360.09 486.327 363.431 457.844C364.805 446.148 363.781 434.657 359.848 423.275C358.176 424.287 356.587 425.295 355.042 426.275C351.744 428.366 348.647 430.33 345.382 431.934C303.466 452.507 259.152 455.053 214.03 448.245C184.802 443.834 156.584 436.019 136.218 411.348Z"
            fill="url(#paint0_linear_1805_24383)"></path>
        <defs>
            <linearGradient
                id="paint0_linear_1805_24383"
                x1="247.358"
                y1="0"
                x2="247.358"
                y2="622.479"
                gradientUnits="userSpaceOnUse"
            >
                <stop stop-opacity="0.9"></stop>
                <stop offset="1" stop-opacity="0.2"></stop>
            </linearGradient>
        </defs>
    </svg>> -->
    <!--<h1>Bem-vindo ao <span class="text-gradient">Ketzim</span></h1>
    <p class="instructions">
        Sua biblioteca de recursos <br/> Conhecimento em 
        <strong>Inteligência Artificial</strong>
    </p>-->

    <style>
main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
}


.navbar {
display: flex;
justify-content: space-between;
}

.logo img {
width: 100px;
height: auto;
}
.astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
}
h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
}
.text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}
.instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
    padding: 1.5rem;
    border-radius: 8px;
}
.instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
}
.instructions strong {
    color: rgb(var(--accent-light));
}
.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
}
.card-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 1rem;
padding: 1rem;
}

.card {
background-color: #ffffff;
padding: 1rem;
border-radius: 8px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
width: 100%;
height: auto;
border-radius: 4px;
margin-bottom: 1rem;
}

.card h2 {
font-size: 1.5rem;
margin-bottom: 0.5rem;
color: #45a049;
}

.card p {
color: #666666;
margin-bottom: 1rem;
}

.card .btn {
background-color: #4CAF50;
color: white;
padding: 0.5rem 1rem;
border: none;
border-radius: 4px;
text-decoration: none;
transition: background-color 0.3s ease;
}

.card .btn:hover {
background-color: #45a049;
}
</style>



<div class="card-grid">
  <div class="card">
    <img src="src/assets/cards-ketzim/rh.png" alt="Imagem RH">
    <h2>Assistente de Treinamentos</h2>
    <p>O Ketzim, o Assistente Virtual de Treinamento da Protege Piso, está sempre pronto para ajudar os franqueados da empresa em seus treinamentos. Com orientação personalizada, ele é sua ferramenta de apoio para melhorar continuamente.</p>
    <a href="https://dify.ketzim.com/chat/oTJ87fpYGak0SFuq" class="btn" target="_blank">Iniciar</a>
  </div>
  <div class="card">
    <img src="src/assets/cards-ketzim/marketing.png".png" alt="Imagem Financeiro">
    <h2>Assistente de Marketing</h2>
    <p>O Assistente de Marketing da Protege Piso está aqui para oferecer suporte personalizado aos franqueados da empresa. Com orientações e apoio contínuo, ele está pronto para ajudar no desenvolvimento e aprimoramento das campanhas de marketing.</p>
    <a href="https://dify.ketzim.com/chat/HVCktAY5xVfLTF2L" class="btn" target="_blank">Iniciar</a>
  </div>
  <div class="card">
    <img src="src/assets/cards-ketzim/rh.png".png" alt="Imagem Financeiro">
    <h2>Assistente de RH</h2>
    <p>Conheça o Assistente de Recursos Humanos da Protege Piso! Com apoio dedicado e orientações especializadas, estamos aqui para auxiliar os franqueados em suas necessidades de RH, desde recrutamento até desenvolvimento profissional.</p>
    <a href="https://dify.ketzim.com/completion/iCrYg2doshc3ZXFZ" class="btn" target="_blank">Iniciar</a>
  </div>
  <!-- <div class="card">
    <img src="src/assets/cards-ketzim/auditoria.png" alt="Imagem Auditoria">
    <h2>Assistente de Auditoria</h2>
    <p>Maximize a eficiência e precisão das suas auditorias com o suporte especializado de Ketzim da Protege Piso que te ajuda a garantir conformidade e excelência em auditorias</p>
    <a href="https://astro.build/integrations/" class="btn">Iniciar</a>
  </div>
  <div class="card">
    <img src="src/assets/cards-ketzim/financeiro.png" alt="Imagem Financeiro">
    <h2>Assistente Financeiro</h2>
    <p>Dúvidas sobre finanças da franquia? Conte com Ketzim da Protege Piso para esclarecer suas questões e oferecer suporte em todas as áreas financeiras da sua unidade.</p>
    <a href="https://astro.build/themes/" class="btn">Iniciar</a>
  </div>
  <div class="card">
    <img src="src/assets/cards-ketzim/comercial.png" alt="Imagem Financeiro">
    <h2>Assistente Comercial</h2>
    <p>Obtenha orientações especializadas para impulsionar suas vendas e estratégias de negócio. Ketzim da Protege Piso está pronto para oferecer suporte personalizado às suas necessidades comerciais.</p>
    <a href="https://astro.build/themes/" class="btn">Iniciar</a>
  </div> -->

  <!-- 
  <div class="card">
    <img src="src/assets/cards-ketzim/operacional.png" alt="Imagem Financeiro">
    <h2>Gestão operacional</h2>
    <p>Enfrentando desafios no canteiro de obras? Nossa IA especializada está pronta para ajudar a manter seus projetos em curso. Clique para obter assistência especializada.</p>
    <a href="https://astro.build/themes/" class="btn">Iniciar</a>
  </div>
  <div class="card">
    <img src="src/components/imagens/cards/ti.png" alt="Imagem Financeiro">
    <h2>Suporte de TI</h2>
    <p>Navegando por problemas técnicos? Conte com Ketzim da Protege Piso para soluções personalizadas de TI. Clique agora para resolver seus desafios tecnológicos</p>
    <a href="https://astro.build/themes/" class="btn">Iniciar</a>
  </div>
  <div class="card">
    <img src="src/assets/cards-ketzim/gestao.png" alt="Imagem Financeiro">
    <h2>Soluções de Administração</h2>
    <p>Obtenha assistência instantânea em questões administrativas. Clique para conversar com nosso assistente de IA agora</p>
    <a href="https://astro.build/themes/" class="btn">Iniciar</a>
  </div>
  <div class="card">
    <img src="src/assets/cards-ketzim//designer.png" alt="Imagem Financeiro">
    <h2>Criação de Posts e Imagens</h2>
    <p>Precisa de posts ou imagens visualmente impressionantes? O ketzim está pronto para dar vida às suas ideias.</p>
    <a href="https://astro.build/themes/" class="btn">Iniciar</a>
</div> -->