---
import operacional from '../assets/cards-ketzim/operacional.png'
import marketing from '../assets/cards-ketzim/marketing.png'
import rh from '../assets/cards-ketzim/rh.png'
import ti from '../assets/cards-ketzim/ti.png'
---

<main class="mx-auto px-4 max-w-screen-lg">
    <section>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
            <div class="card">
              <a href="https://dify.ketzim.com/chat/oTJ87fpYGak0SFuq" target="_blank">
                <img src={operacional.src} alt="Imagem RH" class="w-full h-auto rounded-md mb-4">
              </a>
                <h2 class="text-lg font-semibold mb-2 dark:text-gray-100">Assistente de Treinamentos</h2>
                <p class="text-gray-600 mb-4 dark:text-gray-100">
                  Ketzim, o Assistente Virtual da Protege Piso, está sempre disponível para auxiliar os franqueados em seus treinamentos. Conte com orientação personalizada para melhorar continuamente.
                </p>
                <a href="https://dify.ketzim.com/chat/oTJ87fpYGak0SFuq" class="btn bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-md inline-block" target="_blank">Iniciar</a>
            </div>
            <div class="card">
              <a href="https://dify.ketzim.com/chat/HVCktAY5xVfLTF2L" target="_blank">
                <img src={marketing.src} alt="Imagem marketing" class="w-full h-auto rounded-md mb-4">
              </a>
                <h2 class="text-lg font-semibold mb-2 dark:text-gray-100">Assistente de Marketing</h2>
                <p class="text-gray-600 mb-4 dark:text-gray-100">
                  O Assistente de Marketing da Protege Piso oferece suporte personalizado aos franqueados. Com orientações contínuas, ele ajuda no aprimoramento das campanhas de marketing.
                </p>
                <a href="https://dify.ketzim.com/chat/HVCktAY5xVfLTF2L" class="btn bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-md inline-block" target="_blank">Iniciar</a>
            </div>
            <div class="card">
              <a href="https://dify.ketzim.com/chat/sRFFxA7sjwU5e0Do" target="_blank">
                <img src={rh.src} alt="Imagem RH" class="w-full h-auto rounded-md mb-4">
              </a>
                <h2 class="text-lg font-semibold mb-2 dark:text-gray-100">Assistente de RH</h2>
                <p class="text-gray-600 mb-4 dark:text-gray-100">
                  Estamos aqui para auxiliar os franqueados da Protege Piso em suas necessidades de RH, desde recrutamento até desenvolvimento profissional, com apoio dedicado e orientações especializadas.
                </p>
                <a href="https://dify.ketzim.com/chat/sRFFxA7sjwU5e0Do" class="btn bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-md inline-block" target="_blank">Iniciar</a>
            </div>
            <div class="card">
              <a href="https://dify.ketzim.com/chat/aHikAFd6j04F3MM8" target="_blank">
                <img src={ti.src} alt="Imagem TI" class="w-full h-auto rounded-md mb-4">
              </a>
                <h2 class="text-lg font-semibold mb-2 dark:text-gray-100">Suporte de TI</h2>
                <p class="text-gray-600 mb-4 dark:text-gray-100">
                  Solucione seus desafios tecnológicos com facilidade com a assistência especializada de TI do Ketzim, da Protege Piso. Clique agora para soluções personalizadas.
                </p>
                <a href="https://dify.ketzim.com/chat/aHikAFd6j04F3MM8" class="btn bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-md inline-block" target="_blank">Iniciar</a>
              </div>   
        </div>
    </section>
</main>