---
import './ketzimai.css'
---

<main class="mx-auto px-4 max-w-screen-lg">
    <section>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
            <div class="card">
                <img src="src/assets/cards-ketzim/operacional.png" alt="Imagem RH" class="w-full h-auto rounded-md mb-4">
                <h2 class="text-lg font-semibold mb-2">Assistente de Treinamentos</h2>
                <p class="text-gray-600 mb-4">
                    O Ketzim, o Assistente Virtual de Treinamento da Protege Piso, está sempre pronto para
                    ajudar os franqueados da empresa em seus treinamentos. Com orientação personalizada, ele é
                    sua ferramenta de apoio para melhorar continuamente.
                </p>
                <a href="https://dify.ketzim.com/chat/oTJ87fpYGak0SFuq" class="btn bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-md inline-block" target="_blank">Iniciar</a>
            </div>
            <div class="card">
                <img src="src/assets/cards-ketzim/marketing.png" alt="Imagem marketing" class="w-full h-auto rounded-md mb-4">
                <h2 class="text-lg font-semibold mb-2">Assistente de Marketing</h2>
                <p class="text-gray-600 mb-4">
                    O Assistente de Marketing da Protege Piso está aqui para oferecer suporte personalizado
                    aos franqueados da empresa. Com orientações e apoio contínuo, ele está pronto para ajudar
                    no desenvolvimento e aprimoramento das campanhas de marketing.
                </p>
                <a href="https://dify.ketzim.com/chat/HVCktAY5xVfLTF2L" class="btn bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-md inline-block" target="_blank">Iniciar</a>
            </div>
            <div class="card">
                <img src="src/assets/cards-ketzim/rh.png" alt="Imagem RH" class="w-full h-auto rounded-md mb-4">
                <h2 class="text-lg font-semibold mb-2">Assistente de RH</h2>
                <p class="text-gray-600 mb-4">
                    Com apoio dedicado e orientações especializadas, estamos aqui para auxiliar os franqueados em suas necessidades de RH,
                    desde recrutamento até desenvolvimento profissional.
                </p>
                <a href="https://dify.ketzim.com/chat/sRFFxA7sjwU5e0Do" class="btn bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-md inline-block" target="_blank">Iniciar</a>
            </div>
            <div class="card">
                <img src="src/assets/cards-ketzim/ti.png" alt="Imagem TI" class="w-full h-auto rounded-md mb-4">
                <h2 class="text-lg font-semibold mb-2">Suporte de TI</h2>
                <p class="text-gray-600 mb-4">
                    Conte com a assistência especializada de TI do Ketzim, da Protege Piso, para soluções personalizadas.
                    Clique agora e resolva seus desafios tecnológicos com facilidade.
                </p>
                <a href="https://dify.ketzim.com/chat/aHikAFd6j04F3MM8" class="btn bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-md inline-block" target="_blank">Iniciar</a>
            </div>
        </div>
    </section>
</main>
